name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}  
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
           
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: run terraform initialization
      working-directory: terraform
      run: terraform init
      
    - name: run terraform destruction
      working-directory: terraform
      run: terraform destroy -auto-approve || true
      
    - name: run ami and snapshot destruction
      run: |
        aws ec2 describe-images --filters "Name=tag:name,Values=WebSiteImage" --query 'Images[].ImageId' --output text | xargs -n 1 aws ec2 deregister-image --image-id || true
        aws ec2 describe-snapshots --filters "Name=tag:name,Values=WebSiteImage" --query 'Snapshots[].SnapshotId' --output text | xargs -n 1 aws ec2 delete-snapshot --snapshot-id  || true
      
    - name: run packer initialization
      working-directory: packer
      run: packer init .
      
    - name: run packer building
      working-directory: packer
      run: packer build aws-ubuntu.pkr.hcl
	  
    - name: create ssl files on terraform location
      working-directory: terraform
      run: |  
        echo ${{ secrets.CERT }} > cert.pem
	echo ${{ secrets.CHAIN }} > chain.pem
	echo ${{ secrets.PRIVKEY }} > privkey.pem
      
     - name: run terraform planning
       working-directory: terraform
       run: terraform plan
      
     - name: run terraform applying
       working-directory: terraform
       run: terraform apply -auto-approve
    
